
.list-group{
    max-width: 460px;
    margin: 4rem auto;
}

body{
    background-image: url(../img/background.jpg);
}

.primaryColor{
    color: #811F92;
}
.textColor{
    color:#BCBCBC;
}
.textColor b{
    color:white;
}

.fcentro{
    margin: 100px auto 150px auto;
}

.fcentro.int{
    margin-top: 50px;
}
.item{
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}

.item.dibujo img{
    background-color: black;
    border-radius: 10px;
    width: 95%;
}
.item.dibujo .btn{
    width: 99%;
    padding: 5px 2px;
    font-size: 10px;
    border: none;
}
.mitItem{
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    padding: 10px 5px;
}
.mitItem .desc{
    margin-top: 10px;
}

.mitItem img{
    border-radius: 10px;
}

.mitItem h1{
    margin-top: 10px;
    font-size: 16px;
}

.mitItem p{
    margin-top: 5px;
    font-size: 12px;}

.mitItem .btn-primary{
    background-color: #811F92;
}

.navbar{
    background-color: black;
    color: #BCBCBC;
}

.navbar-brand2{
    color: #BCBCBC;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-brand2:hover{
    color: #811F92;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: azure;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    color:rgba(100, 100, 100);
}

.navbar-toggler img{
    width: 100%;
    
}
h2{
    text-align: center;
    color: #811F92;
    margin: 20px 0;

}